/*GLOBAL*/
html {
    font-size: 62.5%;
    background-color: #f7f7f7;
}
body {
    text-align: center;
    margin: 1rem auto;
    background-color: white;
    border: 0.2rem solid #961313;
    border-radius: 0.3rem;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 80vw;
    min-height: 96vh;
}
h1, h2, [class^=cell]{
    background-color: #961313;
}
h1, h2, .cell-content-1, .pipe{
    color: white;
}
.cell-head{
    color: #fbcb2a;
}
a{
    text-decoration: none;
    color: #d49060;
}

/*HEADER*/
h1{
    margin: 0;
    padding: 1rem;
    font-size: 3.5rem;
}
#logo img{
    padding: 2rem;
}

/*SECTION*/
h2{
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: 2.5rem;
}
table{
    width: 100%;
}
tr{
    height: 3rem;
}
.cell-head{
    font-weight: bold;
    font-size: 1.7rem;
}
[class^=cell-content]{
    text-align: left;
    font-size: 1.4rem;
    text-indent: 0.8rem;
}